<% address_id = address_type.chars.first %>
<div class="inner" data-hook=<%="#{address_type}_inner" %>>
  <p class="field" id=<%="#{address_id}firstname" %>>
    <%= form.label :firstname, Spree.t(:first_name) %><span class="required">*</span><br />
    <%= form.text_field :firstname, :class => 'required' %>
  </p>
  <p class="field" id=<%="#{address_id}tower" %>>
    <%= form.label :tower_id, Spree.t(:tower) %><br />
    <%= form.collection_select(:tower_id, @towers, :id, :building, { :include_blank => Spree.t('match_choices.none') }, { :class => 'select2 fullwidth' }) %>
  </p>
  <p class="field" id=<%="#{address_id}address1" %>>
    <%= form.label :address1, Spree.t(:street_address) %><span class="required">*</span><br />
    <%= form.text_field :address1, :class => 'required' %>
  </p>
  <p class="field" id=<%="#{address_id}mobile" %>>
    <%= form.label :mobile, Spree.t(:mobile) %><span class="required">*</span><br />
    <%= form.phone_field :mobile, :class => 'required' %>
  </p>
  <p class="field" id=<%="#{address_id}window" %>>
    <%= form.label :window, Spree.t(:window) %><br />
    <%= form.select(:window, @intervals, {}, { :class => 'select2' }) %>
  </p>
</div>
